[Unit]
Description=Kolibre Sample Client
After=systemd-user-sessions.service sound.target
Wants=systemd-user-sessions.service media-mmc1.mount

[Service]
Restart=always
TimeoutStopSec=30
StandardOutput=null
ExecStart=/usr/bin/KolibreSampleClient.sh

[Install]
WantedBy=multi-user.target
Alias=kolibre.service

