[Unit]
Description=A daemon to associate udisks events to user-defined actions.
After=systemd-user-sessions.service
Wants=systemd-user-sessions.service

[Service]
Restart=always
RestartSec=5s
TimeoutStopSec=30
StandardOutput=null
ExecStart=/usr/bin/udisks-glue

[Install]
WantedBy=multi-user.target
Alias=udisks-glue.service
